*{
  padding: 0;
  margin: 0;
  outline: 0;
  color: #444;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  /* background-color:#2f3c44; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.image__styling{
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100vh;
  background: url(../public/astronaut-standing-inside-ocean-butterflies-around-helmet-4k-hp.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
p{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  font-weight: bolder;
  color: #ffffff;
}

.form_group input[type="text"],textarea{
  width:90%; 
  height:40px; 
  border-radius:5px;
  border:none;
  padding:10px;
  font-size:16px;
  color:white;
  background-color:rgba(0,0,0,0.5); 
}


/* TODOS STYLES */
.app {
  padding: 30px;
  margin: 30px;
  background-color: floralwhite;background-color:rgba(0,0,0,0.07);
  background-image:linear-gradient(to bottom right, rgba(255,255,255,0.2), rgba(255,255,255,0));
  backdrop-filter: "blur(10px)"; 
  box-shadow: 10px 10px 10px rgba(30,30,30,0.25);
  border-radius: 10px;
}

.todo {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}

/* CODE_EDITOR STYLE */
.code-editor {
  position: relative;
  margin-top: 30px;
  width: 100%;
  /* height: 440px; */
  color: #ccc;
  background-color: #030f1e;
  font-family: Consolas, Monaco, "Andale Mono", monospace;
  text-align: left;
  border-radius: 5px;
  -webkit-box-shadow: 10px 5px 17px 2px rgb(0 0 0);
  box-shadow: 10px 5px 17px 2px rgb(0 0 0);
  padding-bottom: 30px;
}

.code-editor .top-bar {
  font-size: 14px;
  color: #ccc !important;
  text-align: center;
  height: 30px;
  background-color: #333;
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.code-editor .top-bar ul.control {
  list-style: none;
  padding: 5px 5px 5px 10px;
  text-align: left;
  position: absolute;
  left: 0;
  height: 30px;
  margin-bottom: 0;
}

.code-editor .top-bar ul.control .button {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
}

.code-editor .top-bar ul.control .button:first-of-type {
  background-color: #df6963;
  cursor: pointer;
}

.code-editor .top-bar ul.control .button:nth-of-type(2) {
  background-color: #f5e18a;
}

.code-editor .top-bar ul.control .button:last-of-type {
  background-color: #97c38a;
}

.code-editor .top-bar .file-path {
  padding: 5px;
  color: #ccc;
}

.code-editor ul.line-numbers {
  list-style: none;
  padding: 20px 15px 5px;
  text-align: right;
  color: #777;
  position: absolute;
  left: 0;
  font-size: 16px;
  line-height: 1.5;
  border-bottom-left-radius: 5px;
  margin: 0;
}

.code-editor .code {
  margin-top: 20px;
  margin-left: 70px;
  padding-right: 30px;
}

.code-editor .code p {
  color: #ccc;
  margin: 15px 0 24px;
  line-height: 1.5;
}

.code-editor .code p.indent {
  margin-left: 25px;
}

.code-editor .code p.comment {
  color: #555;
}

.code-editor .selector {
  color: #009897;
}

.code-editor .prop {
  color: goldenrod;
}

@media screen and (max-width: 680px) {

  .code-editor .top-bar .file-path {
    font-size: 12px;
  }

  .no-mobile {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .code-editor {
    margin-top: 50px;
  }
}

/* ARROW LINK */
.arrow-link {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-weight: 700;
  display: inline-block;
  background-color: transparent;
  white-space: nowrap;
  color: var(--lightest-slate);
}

.arrow-link:after {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
  bottom: 2px;
  margin-left: 15px;
  content: "";
  background: url(../public/arrow.png) no-repeat center;
  background-size: 100%;
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
}

.arrow-link:hover:after {
  -webkit-transform: translateX(7px);
  transform: translateX(7px);
}