*{
  padding: 0;
  margin: 0;
  outline: 0;
  color: #444;
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  /* background-color:#2f3c44; */
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
.image__styling{
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100vh;
  background: url(../public/astronaut-standing-inside-ocean-butterflies-around-helmet-4k-hp.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
p{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  font-weight: bolder;
  color: #ffffff;
}

.form_group input[type="text"],textarea{
  width:90%; 
  height:40px; 
  border-radius:5px;
  border:none;
  padding:10px;
  font-size:16px;
  color:white;
  background-color:rgba(0,0,0,0.5); 
}

/* ARROW LINK */
.arrow__link {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-weight: 700;
  display: inline-block;
  background-color: transparent;
  white-space: nowrap;
  color: var(--lightest-slate);
}

.arrow__link:after {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
  bottom: 2px;
  margin-left: 15px;
  content: "";
  background: url(../public/arrow.png) no-repeat center;
  background-size: 100%;
  width: 15px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
}

.arrow__link:hover:after {
  -webkit-transform: translateX(7px);
  transform: translateX(7px);
}
.container__style{
  padding: 25px;
  margin-right: 22px;
}
.container__style p{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 22px;
}
