.app {
    padding: 30px;
    margin: 30px;
    background-color: floralwhite;background-color:rgba(0,0,0,0.07);
    background-image:linear-gradient(to bottom right, rgba(255,255,255,0.2), rgba(255,255,255,0));
    backdrop-filter: "blur(10px)"; 
    box-shadow: 10px 10px 10px rgba(30,30,30,0.25);
    border-radius: 10px;
  }
  
  .todo {
    align-items: center;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
  }
  .container{
    padding: 0px 100px 0px 100px;
  }
  @media screen and (max-width:500px){
    .container{
      padding: 0px 30px 0px 30px !important;
    }
  }